@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
}

body {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  background-image: url(./assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--Light-pink);
}

img {
  width: 100%;
}

main {
  display: grid;
  height: 100vh;
  align-items: center;
  justify-items: center;
}

.container {
  width: 37.5rem;
  background-color: var(--White);
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
}

.logo-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.logo {
  width: fit-content;
}

h1 {
  font-size: 3rem;
}

li img {
  width: fit-content;
}

.question-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  border: 0;
  background-color: transparent;
  color: var(--Dark-purple);
  font-weight: 700;
  padding: 1rem 0;
  z-index: 100;
}

.hide {
  display: none;
}

button[aria-expanded="true"] + .faq-answer {
  transition: all 0.3s linear;
  margin-bottom: 1rem;
}

.faq {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--Light-pink);
}

.faq-answer {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.3s linear;
}

.faq-answer[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

.faq-answer > span {
  overflow: hidden;
}

p {
  color: rgb(118, 118, 118);
}

:focus-visible {
  outline: 2px solid blue;
  border-radius: 0.5rem;
}

/* Mobile Design */
@media screen and (max-width: 768px) {
  body {
    background-image: url(./assets/images/background-pattern-mobile.svg);
  }

  .container {
    width: auto;
  }
}
